html {
    height: 100%;
    background-color: #BCE1E4;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#loader > .lama {
    position: absolute;
    width: 250px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 125px);
}

#loader > .lama > .hoofd {
    position: absolute;
    width: 100px;
    height: 30px;
    border-bottom: 100px solid #DFCDBD;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    left: calc(50% - 50px);
    top: 0px;
    border-radius: 35%;
    z-index: 1;
}

#loader > .lama > .hoofd > .voorhoofd {
    position: absolute;
    width: 100px;
    height: 35px;
    background-color: #DFCDBD;
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .oog {
    position: absolute;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 10px;

    display: grid;
    place-items: center;
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .oog.links {
    right: 70%;
    animation: knipper-links 4.47s infinite linear;
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .oog.rechts {
    left: 70%;
    animation: knipper-rechts 4.47s infinite linear;
}

@keyframes knipper-links {

    0%,
    47% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(-10deg) scaleY(0);
    }

    53%,
    100% {
        transform: rotate(-10deg);
    }
}

@keyframes knipper-rechts {

    0%,
    47% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(10deg) scaleY(0);
    }

    53%,
    100% {
        transform: rotate(10deg);
    }
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .oog > .pupil {
    position: absolute;
    background: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .oog > .ooglid {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: linear-gradient(#CEBFB2 45%, transparent 45%);
}

#loader > .lama > .hoofd > .voorhoofd > .haar.cirkel1 {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #463C33;
    border-radius: 50%;
    top: -20px;
    left: calc(50% - 75px);
}

#loader > .lama > .hoofd > .voorhoofd > .haar.cirkel2 {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #463C33;
    border-radius: 50%;
    top: -15px;
    left: calc(50% - 35px);
}

#loader > .lama > .hoofd > .voorhoofd > .haar.cirkel3 {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #463C33;
    border-radius: 50%;
    top: -15px;
    right: calc(50% - 45px);
}

#loader > .lama > .hoofd > .voorhoofd > .haar.cirkel4 {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #463C33;
    border-radius: 50%;
    top: -25px;
    right: calc(50% - 80px);
}

#loader > .lama > .hoofd > .voorhoofd > .haar.cirkel5 {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #463C33;
    border-radius: 50%;
    top: -45px;
    right: calc(50% - 50px);
}

#loader > .lama > .hoofd > .voorhoofd > .haar.cirkel6 {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #463C33;
    border-radius: 50%;
    top: -50px;
    right: calc(50% - 19px);
}

#loader > .lama > .hoofd > .voorhoofd > .haar.cirkel7 {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #463C33;
    border-radius: 50%;
    top: -43px;
    left: calc(50% - 55px);
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .neus.bovenkant {
    position: absolute;
    top: 55px;
    width: 40px;
    height: 25px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: #F2E5DB;
    border-bottom: 0;
    left: calc(50% - 20px);
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .neus.rechts {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 70px;
    left: calc(50% - 0px);
    z-index: 10;
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .neus.links {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 70px;
    right: calc(50% - 0px);
    z-index: 10;
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .mond {
    position: absolute;
    width: 30px;
    height: 20px;
    background: black;
    top: 78px;
    right: calc(50% - 15px);
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .tong {
    position: absolute;
    width: 20px;
    height: 25px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: #EE6F47;
    border-bottom: 0;
    top: 4px;
    right: calc(50% - 10px);
    transform: rotate(-180deg);
    z-index: 2;
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .neus.hartje {
    position: relative;
    left: calc(50% - 10px);
    z-index: 10;
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .neus.hartje:before,
#loader > .lama > .hoofd > .voorhoofd > .gezicht > .neus.hartje:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 18px;
    left: 10px;
    top: 65px;
    background: #463C33;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .neus.hartje:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .neus.onderkant {
    position: absolute;
    top: 95px;
    width: 30px;
    height: 20px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: #CEBFB2;
    border-bottom: 0;
    transform: rotate(-180deg);
    left: calc(50% - 15px);
    z-index: 1;
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .oor.links {
    position: absolute;
    width: 10px;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top: 80px solid #F2E5DB;
    transform: rotate(-50deg);
    right: calc(50% + 35px);
    top: -65px;
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .oor.rechts {
    position: absolute;
    width: 10px;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top: 80px solid #F2E5DB;
    transform: rotate(-310deg);
    left: calc(50% + 35px);
    top: -65px;
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .binnenkant.links {
    position: absolute;
    width: 40px;
    height: 20px;
    top: -30px;
    background: #DFCDBD;
    border-radius: 100px / 50px;
    right: calc(50% + 45px);
    transform: rotate(40deg);
}

#loader > .lama > .hoofd > .voorhoofd > .gezicht > .binnenkant.rechts {
    position: absolute;
    width: 40px;
    height: 20px;
    top: -30px;
    background: #DFCDBD;
    border-radius: 100px / 50px;
    left: calc(50% + 50px);
    transform: rotate(130deg);
}

#loader > .lama > .lichaam {
    position: absolute;
    top: 100px;
    width: 100px;
    height: 200px;
    background-color: #F2E5DB;
    left: calc(50% - 25px);
    z-index: 0;
}

#loader > .lama > .lichaam > .neklinks > .nek.cirkel1 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 15px;
    right: calc(50% + 33px);
}

#loader > .lama > .lichaam > .neklinks > .nek.cirkel2 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 35px;
    right: calc(50% + 40px);
}

#loader > .lama > .lichaam > .neklinks > .nek.cirkel3 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 55px;
    right: calc(50% + 41px);
}

#loader > .lama > .lichaam > .neklinks > .nek.cirkel4 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 75px;
    right: calc(50% + 43px);
}

#loader > .lama > .lichaam > .neklinks > .nek.cirkel5 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 95px;
    right: calc(50% + 40px);
}

#loader > .lama > .lichaam > .neklinks > .nek.cirkel6 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 115px;
    right: calc(50% + 42px);
}

#loader > .lama > .lichaam > .neklinks > .nek.cirkel7 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 135px;
    right: calc(50% + 39px);
}

#loader > .lama > .lichaam > .neklinks > .nek.cirkel8 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 155px;
    right: calc(50% + 41px);
}

#loader > .lama > .lichaam > .neklinks > .nek.cirkel9 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 175px;
    right: calc(50% + 43px);
}

#loader > .lama > .lichaam > .nekrechts > .nek.cirkel1 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 10px;
    left: calc(50% + 29px);
}

#loader > .lama > .lichaam > .nekrechts > .nek.cirkel2 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 30px;
    left: calc(50% + 36px);
}

#loader > .lama > .lichaam > .nekrechts > .nek.cirkel3 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 50px;
    left: calc(50% + 32px);
}

#loader > .lama > .lichaam > .nekrechts > .nek.cirkel4 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 70px;
    left: calc(50% + 33px);
}

#loader > .lama > .lichaam > .nekrechts > .nek.cirkel5 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 90px;
    left: calc(50% + 35px);
}

#loader > .lama > .lichaam > .nekrechts > .nek.cirkel6 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 110px;
    left: calc(50% + 31px);
}

#loader > .lama > .lichaam > .nekrechts > .nek.cirkel7 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 130px;
    left: calc(50% + 35px);
}

#loader > .lama > .lichaam > .nekrechts > .nek.cirkel8 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 150px;
    left: calc(50% + 32px);
}

#loader > .lama > .lichaam > .nekrechts > .nek.cirkel9 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 170px;
    left: calc(50% + 35px);
}

#loader > .lama > .lichaam > .nekrechts > .nek.cirkel10 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 190px;
    left: calc(50% + 32px);
}

#loader > .lama > .buik {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 270px;
    left: calc(50% - 75px);
}

#loader > .lama > .buik > .belly.cirkel1 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 7px;
    left: calc(50% - 75px);
}

#loader > .lama > .buik > .belly.cirkel2 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 25px;
    left: calc(50% - 85px);
}

#loader > .lama > .buik > .belly.cirkel3 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 40px;
    left: calc(50% - 99px);
}

#loader > .lama > .buik > .belly.cirkel4 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 59px;
    left: calc(50% - 103px);
}

#loader > .lama > .buik > .belly.cirkel5 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 76px;
    left: calc(50% - 111px);
}

#loader > .lama > .buik > .belly.cirkel6 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 93px;
    left: calc(50% - 110px);
}

#loader > .lama > .buik > .belly.cirkel7 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 93px;
    left: calc(50% - 112px);
}

#loader > .lama > .buik > .belly.cirkel8 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 113px;
    left: calc(50% - 108px);
}

#loader > .lama > .buik > .belly.cirkel9 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 130px;
    left: calc(50% - 100px);
}

#loader > .lama > .buik > .belly.cirkel10 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 150px;
    left: calc(50% - 92px);
}

#loader > .lama > .buik > .belly.cirkel11 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 165px;
    left: calc(50% - 78px);
}

#loader > .lama > .buik > .belly.cirkel12 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 170px;
    left: calc(50% - 59px);
}

#loader > .lama > .buik > .belly.cirkel13 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 180px;
    left: calc(50% - 40px);
}

#loader > .lama > .buik > .belly.cirkel14 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 180px;
    left: calc(50% - 20px);
}

#loader > .lama > .buik > .belly.cirkel15 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 182px;
    left: calc(50% - 0px);
}

#loader > .lama > .buik > .belly.cirkel16 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 175px;
    right: calc(50% - 45px);
}

#loader > .lama > .buik > .belly.cirkel17 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 170px;
    right: calc(50% - 65px);
}

#loader > .lama > .buik > .belly.cirkel18 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 160px;
    right: calc(50% - 85px);
}

#loader > .lama > .buik > .belly.cirkel19 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 143px;
    right: calc(50% - 91px);
}

#loader > .lama > .buik > .belly.cirkel20 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 125px;
    right: calc(50% - 103px);
}

#loader > .lama > .buik > .belly.cirkel21 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 105px;
    right: calc(50% - 105px);
}

#loader > .lama > .buik > .belly.cirkel22 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 85px;
    right: calc(50% - 109px);
}

#loader > .lama > .buik > .belly.cirkel23 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 65px;
    right: calc(50% - 104px);
}

#loader > .lama > .buik > .belly.cirkel24 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 45px;
    right: calc(50% - 95px);
}

#loader > .lama > .buik > .belly.cirkel25 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 26px;
    right: calc(50% - 87px);
}

#loader > .lama > .buik > .belly.cirkel26 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #F2E5DB;
    border-radius: 50%;
    top: 16px;
    right: calc(50% - 70px);
}

#loader > .lama > .arm.links > .schouderlinks > .schouderlinks1 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #DFCDBD;
    border-radius: 50%;
    top: 230px;
    right: calc(50% + 25px);
    z-index: -1;
}

#loader > .lama > .arm.links > .schouderlinks > .schouderlinks2 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #DFCDBD;
    border-radius: 50%;
    top: 250px;
    right: calc(50% + 31px);
    z-index: -1;
}

#loader > .lama > .arm.links > .schouderlinks > .schouderlinks3 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #DFCDBD;
    border-radius: 50%;
    top: 270px;
    right: calc(50% + 24px);
    z-index: -1;
}

#loader > .lama > .arm.links > .onderarm {
    position: absolute;
    width: 22px;
    height: 120px;
    background: #CEBFB2;
    transform: rotate(30deg);
    border-radius: 20px;
    right: calc(50% + 60px);
    top: 240px;
    z-index: -2;
}

#loader > .lama > .arm.links > .hand {
    position: absolute;
    border-bottom: 20px solid #463C33;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 10px;
    width: 22px;
    transform: rotate(30deg);
    top: 330px;
    right: calc(50% + 82px);
    z-index: -1;
}

#loader > .lama > .arm.rechts > .schouderrechts > .schouderrechts1 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #DFCDBD;
    border-radius: 50%;
    top: 230px;
    left: calc(50% + 70px);
    z-index: -1;
}

#loader > .lama > .arm.rechts > .schouderrechts > .schouderrechts2 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #DFCDBD;
    border-radius: 50%;
    top: 250px;
    left: calc(50% + 74px);
    z-index: -1;
}

#loader > .lama > .arm.rechts > .schouderrechts > .schouderrechts3 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #DFCDBD;
    border-radius: 50%;
    top: 270px;
    left: calc(50% + 70px);
    z-index: -1;
}

#loader > .lama > .arm.rechts > .onderarm {
    position: absolute;
    width: 22px;
    height: 120px;
    background: #CEBFB2;
    transform: rotate(145deg);
    border-radius: 20px;
    left: calc(50% + 105px);
    top: 240px;
    z-index: -2;
}

#loader > .lama > .arm.rechts > .hand {
    position: absolute;
    border-bottom: 20px solid #463C33;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 10px;
    width: 22px;
    transform: rotate(-30deg);
    top: 330px;
    left: calc(50% + 131px);
    z-index: -1;
}

#loader > .lama > .been.links,
.been.rechts {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(100%, -85%);
}

#loader > .lama > .been.links {
    position: absolute;
    width: 22px;
    height: 130px;
    background-color: #CEBFB2;
    top: 570px;
    left: calc(50% - 35px);
    z-index: -2;
}

#loader > .lama > .been.links > .leg.cirkel1 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #DFCDBD;
    border-radius: 50%;
    top: 1px;
    right: calc(50% + 5px);
    z-index: -1;
}

#loader > .lama > .been.links > .leg.cirkel2 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #DFCDBD;
    border-radius: 50%;
    top: 7px;
    right: calc(50% - 10px);
    z-index: -1;
}

#loader > .lama > .been.links > .leg.cirkel3 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #DFCDBD;
    border-radius: 50%;
    top: 2px;
    right: calc(50% - 25px);
    z-index: -1;
}

#loader > .lama > .been.rechts {
    position: absolute;
    width: 22px;
    height: 130px;
    background-color: #CEBFB2;
    top: 570px;
    left: calc(50% + 35px);
    z-index: -1;
}

#loader > .lama > .been.rechts > .leg.cirkel1 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #DFCDBD;
    border-radius: 50%;
    top: 0px;
    right: calc(50% + 5px);
    z-index: -1;
}

#loader > .lama > .been.rechts > .leg.cirkel2 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #DFCDBD;
    border-radius: 50%;
    top: 4px;
    right: calc(50% - 12px);
    z-index: -1;
}

#loader > .lama > .been.rechts > .leg.cirkel3 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #DFCDBD;
    border-radius: 50%;
    top: -3px;
    right: calc(50% - 25px);
    z-index: -1;
}

#loader > .lama > .been.links > .voet {
    position: absolute;
    border-bottom: 20px solid #463C33;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 10px;
    width: 22px;
    top: 110px;
    right: calc(50% - 16px);
    z-index: 1;
}

#loader > .lama > .been.rechts > .voet {
    position: absolute;
    border-bottom: 20px solid #463C33;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 10px;
    width: 22px;
    top: 110px;
    left: calc(50% - 16px);
}

#loader > .spuug {
    position: absolute;
    width: 60px;
    height: 45px;
    background-color: #9BAA55;
    top: 230px;
    left: calc(50% - 3px);
    /*    transform: rotate(10deg);*/
    z-index: 1;

    animation-name: spugen;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

@keyframes spugen {
    0% {
        transform: scale(.32) rotate(10deg);
    }

    100% {
        transform: scale(22) rotate(200deg);
    }
}

#loader > .spuug > .spugen.cirkel1 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9BAA55;
    top: -20px;
    left: calc(50% + 4px);
    z-index: 1;
}

#loader > .spuug > .spugen.cirkel3 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9BAA55;
    top: -3px;
    left: calc(50% + 22px);
    z-index: 1;
}

#loader > .spuug > .spugen.cirkel4 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9BAA55;
    top: 18px;
    left: calc(50% + 12px);
    z-index: 1;
}

#loader > .spuug > .spugen.cirkel5 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9BAA55;
    top: 26px;
    left: calc(50% - 10px);
    z-index: 1;
}

#loader > .spuug > .spugen.cirkel6 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9BAA55;
    top: 24px;
    left: calc(50% - 35px);
    z-index: 1;
}

#loader > .spuug > .spugen.cirkel7 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9BAA55;
    top: 10px;
    left: calc(50% - 55px);
    z-index: 1;
}

#loader > .spuug > .spugen.cirkel8 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9BAA55;
    top: -11px;
    left: calc(50% - 45px);
    z-index: 1;
}

#loader > .spuug > .spugen.cirkel9 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9BAA55;
    top: -19px;
    left: calc(50% - 20px);
    z-index: 1;
}

#loader {
    animation-name: verdwijnen;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

@keyframes verdwijnen {
    0% {}

    100% {
        z-index: -9999px;
        opacity: 0;
    }
}
